@using PagedList.Mvc;

@model PagedList.IPagedList<Pet_Shop.Models.GioHang>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cart">
    <div class="container">
        <div class="cart-top-wrap">
            <div class="cart-top">
                <div class="cart-top-cart cart-top-item">
                    <a href="cart.html" class="fas fa-shopping-cart"></a>
                </div>
                <div class="cart-top-payment cart-top-item">
                    <a href="payment.html" class="fas fa-money-check-alt"></a>
                </div>
                <div class="cart-top-done cart-top-item">
                    <i class="fas fa-check-circle"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cart-content row">
            <div class="cart-content-left">
                <table>
                    <tr>
                        <th>Sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        @*<th>size</th>*@
                        <th>SL</th>
                        <th>Thành tiền</th>
                        <th></th>
                    </tr>
                    @if (ViewBag.TongSL == 0)
                    {
                        <tr>Giỏ Hàng hiện đang trống</tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@Url.Content(item.DoiTuongKD.AnhDaiDien)" alt=""></td>
                                @if (item.DoiTuongKD.PhanLoaiDTKD.MaPLDTKD == "DD")
                                {
                                    <td><p>@Html.DisplayFor(modelItem => item.DoiTuongKD.DoDungTC.TenDD)</p></td>
                                }
                                else if (item.DoiTuongKD.PhanLoaiDTKD.MaPLDTKD == "TC")
                                {
                                    <td><p>@Html.DisplayFor(modelItem => item.DoiTuongKD.ThuCung.TenTC)</p></td>
                                }
                                <td>
                                    <div id="buy-amount">
                                        @*<button class="minus-btn" onclick="handleMinus()">
                                                <p>-</p>
                                            </button>*@

                                        <input type="text" name="amount" id="amount" value="@Html.DisplayFor(modelItem => item.SoLuong)">

                                        @*<button class="plus-btn" onclick="handlePlus()">
                                                <p>+</p>
                                            </button>*@
                                    </div>
                                </td>
                                <td><p>@String.Format("{0:0,0}", item.DoiTuongKD.DonGia)đ</p></td>
                                <td><a href="@Url.Action("XoaSPGioHang","GioHang",new { id = item.DoiTuongKD.MaDT })">X</a></td>
                            </tr>
                        }
                    }
                </table>
                @Html.PagedListPager(Model, page => Url.Action("GioHang", new { page, @class = "active" }))
            </div>
            <div class="cart-content-right">
                <table>
                    <tr>
                        <th colspan="2">TỔNG TIỀN GIỎ HÀNG</th>
                    </tr>
                    <tr>
                        <td>TỔNG SẢN PHẨM</td>
                        <td>@ViewBag.TongSL</td>
                    </tr>
                    <tr>
                        <td>TỔNG TIỀN HÀNG</td>
                        <td><p>@String.Format("{0:0,0}", @ViewBag.TongThanhTien)đ</p></td>
                    </tr>
                    <tr>
                        <td>TẠM TÍNH</td>
                        <td><p style="color:black;font-weight: bold;">@String.Format("{0:0,0}", @ViewBag.TongThanhTien)đ</p></td>
                    </tr>
                </table>
                <div class="cart-content-right-button">
                    <button>@Html.ActionLink("TIẾP TỤC MUA SẮM", "DoDungTC", "Home")</button>
                    <a href="payment.html"> <button>THANH TOÁN</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
