@model IEnumerable<Pet_Shop.Models.DoiTuongKD>

@{
    ViewBag.Title = "Sản phẩm và dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}

<div >
    <h2>Sản phẩm và dịch vụ</h2><br /><br />

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChiTiet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnhDaiDien)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiamGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChiTiet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnhDaiDien)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaDT }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaDT }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaDT })
                </td>
            </tr>
        }

    </table>

</div>
