@model IEnumerable<Pet_Shop.Models.HoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}

<h2>Hóa đơn</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongThanhTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdNguoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDTNguoiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailNguoiNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongThanhTien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNguoiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiGiao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdNguoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDTNguoiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailNguoiNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SoHD }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.SoHD }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.SoHD })*@
        </td>
    </tr>
}

</table>
