@model Pet_Shop.Models.HangSX

@{
    ViewBag.Title = "Hãng Sản Xuất";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}
<div>
    <h4>Chi tiết hãng sản xuất</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNSX) : @Html.DisplayFor(model => model.TenNSX)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi) :  @Html.DisplayFor(model => model.DiaChi)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.SuatXu) :  @Html.DisplayFor(model => model.SuatXu)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
