@model Pet_Shop.Models.PhieuDat

@{
    ViewBag.Title = "Phiếu Đặt";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}

<div >
    <div>
        <h4>Xóa phiếu đặt này ?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NgayLap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayLap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoTienCoc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoTienCoc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HinhThucCoc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HinhThucCoc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayHen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayHen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IdNguoiDung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdNguoiDung)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa nó" class="btn btn-default" /> |
                @Html.ActionLink("Trở lại danh sách", "Index")
            </div>
        }
    </div>
</div>

