@model Pet_Shop.Models.DoDungTC

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}
<div>
    <h4>Xóa đồ dùng này ?</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.GiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.GiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.ChiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.ChiTiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HangSX.TenNSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HangSX.TenNSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiThuCung.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThuCung.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.MoTa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa nó" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại danh sách", "Index")
        </div>
    }
</div>
