@*@model IPagedList<Pet_Shop.Models.DoDungTC>*@
@model IEnumerable<Pet_Shop.Models.DoDungTC>
@*@using PagedList.Mvc;
@using PagedList;*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}
<h2>Đồ dùng thú cưng</h2>
<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HangSX.TenNSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiThuCung.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HangSX.TenNSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiThuCung.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoiTuongKD.MoTa)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaDD }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaDD }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaDD })
            </td>
        </tr>
    }

</table>
@*@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, pageSize = 5 }))*@
