@model Pet_Shop.Models.DoDungTC
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product">
    <div class="product-container">
        <div class="product-container-top">
        </div>
        <div class="product-content row">
            <div class="product-content-left row">
                <div class="product-content-left-big-img">
                    <img src="@Url.Content(Model.DoiTuongKD.AnhDaiDien)">
                </div>
                
            </div>
            <div class="product-content-right">
                <div class="product-content-right-product-name">
                    <h1>@Html.DisplayFor(Model => Model.TenDD)</h1>
                    <p>Thương hiệu @Html.DisplayFor(Model => Model.HangSX.TenNSX)</p>
                </div>
                <div class="product-content-right-product-price">
                    <p>Giá bán: @String.Format("{0:0,0}", Model.DoiTuongKD.DonGia)đ</p>
                </div>
                
                <div class="product-content-right-product-quantity">
                    <div class="quantity">
                        <p>Số lượng:</p>
                        @*<div id="buy-amount">
                            <button class="minus-btn" onclick="handleMinus()">
                                <p>-</p>
                            </button>
                            <input type="text" name="amount" id="amount" value="1">
                            <button class="plus-btn" onclick="handlePlus()">
                                <p>+</p>
                            </button>
                        </div>*@
                        <p>@Html.DisplayFor(Model => Model.SoLuong) sản phẩm có sẵn</p>
                    </div>

                </div>
                <div class="product-content-right-product-button">
                    <a href="cart.html">
                        <button id="bnt-gocart">
                            <i class="fas fa-shopping-cart"></i>
                            <a href="@Url.Action("ThemVaoGioHang", "GioHang", new { @id = Model.MaDD, @strURL = Request.Url.ToString() })">Thêm vào giỏ hàng</a>
                        </button>
                    </a>
                    <a href="https://zalo.me/0345438160" target="_blank">
                        <button>
                            <p>Liên hệ cửa hàng</p>
                        </button>
                    </a>
                </div>
                <div class="product-content-right-bottom">
                    <div class="product-content-right-bottom-top">
                        
                    </div>
                    <div class="product-content-right-bottom-content-big">
                        <div class="product-content-right-bottom-content-title row">
                            <div class="product-content-right-bottom-content-title-item mt color-item-select">
                                <p>Mô tả</p>
                            </div>
                            <div class="product-content-right-bottom-content-title-item hdsd">
                                <p>Chi tiết</p>
                            </div>
                        </div>
                        <div class="product-content-right-bottom-content">
                            <div class="product-content-right-bottom-content-mt">
                                @Html.DisplayFor(Model => Model.DoiTuongKD.MoTa)
                            </div>
                            <div class="product-content-right-bottom-content-hdsd">
                                @Html.DisplayFor(Model => Model.DoiTuongKD.ChiTiet)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------------------- <contact-button> ------------------------------->
<script>
    const bigImg = document.querySelector(".product-content-left-big-img img")
    const smalImg = document.querySelectorAll(".product-content-left-small-img img")
    smalImg.forEach(function (imgItem, X) {
        imgItem.addEventListener("click", function () {
            bigImg.src = imgItem.src
        })
    })
    const mota = document.querySelector(".mt")
    const huongdansudung = document.querySelector(".hdsd")
    if (mota) {
        mota.addEventListener("click", function () {
            if (!mota.classList.contains("color-item-select")) {
                document.querySelector(".product-content-right-bottom-content-mt").style.display = "block"
                document.querySelector(".product-content-right-bottom-content-hdsd").style.display = "none"
                mota.classList.add("color-item-select");
                huongdansudung.classList.remove("color-item-select");
            }
        })
    }
    if (huongdansudung) {
        huongdansudung.addEventListener("click", function () {
            if (!huongdansudung.classList.contains("color-item-select")) {
                document.querySelector(".product-content-right-bottom-content-mt").style.display = "none"
                document.querySelector(".product-content-right-bottom-content-hdsd").style.display = "block"
                huongdansudung.classList.add("color-item-select");
                mota.classList.remove("color-item-select");
            }
        })
    }
    const butTon = document.querySelector(".product-content-right-bottom-top")
    if (butTon) {
        butTon.addEventListener("click", function () {
            document.querySelector(".product-content-right-bottom-content-big").classList.toggle("activeB")
        })
    }
    const header = document.querySelector(".header")
    window.addEventListener("scroll", function () {
        x = window.pageYOffset;
        if (x > 0) {
            header.classList.add("sticky")
        }
        else {
            header.classList.remove("sticky")
        }
    })
    window.onscroll = function () { scrollFunction() };
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
            document.getElementById("myZalo").style.display = "block";
            document.getElementById("myCall").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
