@model PagedList.IPagedList<Pet_Shop.Models.ThuCung>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ThuCung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ThuCung">
    <div class="row">
        <div class="ThuCung-left">
            <div class="ThuCung-left-item row">
                <img src="~/Theme/images/Meo2.png" alt="">
                <p>Mèo</p>
            </div>
            <div class="ThuCung-left-item row">
                <img src="~/Theme/images/gau2.png" alt="">
                <p>Chó</p>
            </div>

        </div>
        <div class="ThuCung-right">
            <div class="ThuCung-right-top row">
                <div class="ThuCung-right-top-item">
                    <!-- cứ để nhá đừng xóa -->
                </div>
                <div class="ThuCung-right-top-item">
                    <select name="" id="">
                        <option value="">Sắp xếp</option>
                        <option value="">Giá cao đến thấp</option>
                        <option value="">Giá thấp đến cao</option>
                    </select>
                </div>
            </div>
            <div class="ThuCung-right-content columm ">
                @foreach (var item in Model)
                {
                    <div class="category-right-content-item">
                        <a href="@Url.Action("ChiTietThuCung", "Home", new { id = item.DoiTuongKD.MaDT })">
                            <img src="@Url.Content(item.DoiTuongKD.AnhDaiDien)" alt="">
                            @Html.DisplayFor(modelItem => item.TenTC)<br />
                        </a>
                        <div class="category-right-content-item-bottom">
                            @String.Format("{0:0,0}", item.DoiTuongKD.DonGia)đ
                            <a class="fas fa-shopping-cart" href="@Url.Action("ThemSPVaoGioHang", "GioHang", new { @id = item.MaTC, @strURL = Request.Url.ToString() })"></a>
                        </div>
                    </div>
                }
            </div>
                @Html.PagedListPager(Model, page => Url.Action("ThuCung", new { page, @class = "active" }))
            
        </div>
    </div>
</div>
