@model Pet_Shop.Models.ThuCung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}
<div>
    <h4>Xóa thú cưng này ?</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.DonGia) :@Html.DisplayFor(model => model.DoiTuongKD.DonGia)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.TrangThai) :@Html.DisplayFor(model => model.DoiTuongKD.TrangThai)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.GiamGia) : @Html.DisplayFor(model => model.DoiTuongKD.GiamGia)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa) : @Html.DisplayFor(model => model.DoiTuongKD.MoTa)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.ChiTiet) :@Html.DisplayFor(model => model.DoiTuongKD.ChiTiet)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.AnhDaiDien) : @Html.DisplayFor(model => model.DoiTuongKD.AnhDaiDien)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.TenTC): @Html.DisplayFor(model => model.TenTC)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh) : @Html.DisplayFor(model => model.GioiTinh)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.KichCo): @Html.DisplayFor(model => model.KichCo)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.TiemPhong) : @Html.DisplayFor(model => model.TiemPhong)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa) : @Html.DisplayFor(model => model.DoiTuongKD.MoTa)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiThuCung.TenLoai) : @Html.DisplayFor(model => model.LoaiThuCung.TenLoai)
        </dt>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa nó" class="btn btn-default" /> <br />
            @Html.ActionLink("Trở lại danh sách", "Index")
        </div>
    }
</div>
