@model Pet_Shop.Models.ThuCung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThuCung</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.GiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.GiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.ChiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.ChiTiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.AnhDaiDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.AnhDaiDien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichCo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichCo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiemPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiemPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoiTuongKD.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoiTuongKD.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiThuCung.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThuCung.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaTC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
