@model IEnumerable<Pet_Shop.Models.LoaiThuCung>

@{
    ViewBag.Title = "Loại Thú Cưng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}

<div >
    <h2>Loại Thú Cưng</h2>
    <table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLoaiTC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>

     </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaLoaiTC }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.MaLoaiTC }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaLoaiTC })
            </td>
        </tr>
    }
    <p>
        @Html.ActionLink("Thêm mới", "Create")
    </p>
</table>
</div>

